$font: 'Poppins', sans-serif;
$font-logo: 'Oswald', sans-serif;


$color-primary: #EEEEEE;
$color-secondary: #00ADB5;
$color-bg : #222831;


$color-white: #ffffff;
$color-body: #1e1e1e;

$transition: 0.2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
