.footer {
    position: relative;
    & hr {
        margin-bottom: 0;
    }
    &__up {
        position: absolute;
        right: 20px;
        bottom: 20%;
        width: 60px;
        height: 60px;
        background: url(./img/arrow.svg) center no-repeat,rgba(57,62,70,0.75);
        transform: rotate(180deg);
        @include mobile {
            bottom: 5%;
        }
    }
}
.footer-nav {
    display: flex;
    justify-content: center;
    padding: 35px 0;

		// .footer-nav__ul

		&__ul {
            display: flex;
            gap: 55px;
            @include mobile {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
            //margin: 0 auto;
		}

		// .footer-nav__li

		
}

