.works {
    background: url(./img/works.svg);
    padding: 180px 0;
    @include desktop-small{
        padding: 20px 0;
    }


    // .works__title

    &__title {
        margin-bottom: 50px;
        @include mobile {
            font-size: 39px;
        }
    }

    // .works__items

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        @include tablet {
            grid-template-columns: 1fr 1fr;
        }
        @include tablet-small {
            grid-template-columns: 1fr;
        }
    }

    // .works__item

    &__item {
        position: relative;
        overflow:hidden;
        height: 280px;
        cursor: pointer;
        background: rgba(57, 62, 70, 0.5);
        border-radius: 16px;
        transition: $transition;
        &:hover {
            .item__img {
                filter: blur(8px);
            }
            .item__hover {
                transform: translateX(0);
                
            }

        }
        @include tablet {
            transition: none;
            filter: blur(none);
            &:hover {
                .item__img {
                    filter: blur(none);
                }
            }
        }
        


    }
    
    

}
.item__img {
    
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 30px;
    left: 30px;
    transition: .6s all ease-in-out;
    @include tablet {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.item__work1 {
    background:url(./img/works/work1.svg) no-repeat top;
    background-size: cover;
}
.item__work2 {
    background:url(./img/works/work2.svg) no-repeat top;
    background-size: cover;
}
.item__work3 {
    background:url(./img/works/work3.svg) no-repeat top;
    background-size: cover;
}
.item__work4 {
    background:url(./img/works/work4.svg) no-repeat top;
    background-size: cover;
}
.item__work5 {
    background:url(./img/works/work5.svg) no-repeat top;
    background-size: cover;
}
.item__work6 {
    background:url(./img/works/work6.svg) no-repeat top;
    background-size: cover;
}
.item__hover {
    padding: 25px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(+150%);
    transition: .6s all ease-in-out;
    background: rgba(57, 62, 70, 0.4);
    @include tablet {
        display: none;
    }
    
}
.item__title {
    @include text($font, 700, 16px, 24px, $color-primary);
    margin-bottom: 7px;
}
.item__desc {
    margin-bottom: 26px;
    @include text($font, 400, 14px, 21px, $color-primary);
}
.item__btn {
    position: absolute;
    bottom: 25px;

}
